.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-form {
    margin: 0;
}

.btn-logout {
    background: none;
    border: none;
    color: #ff7675;
    cursor: pointer;
    padding: 14px 16px;
    text-align: left;
    width: 100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.25s ease;
}

.btn-logout:hover {
    background-color: rgba(255, 118, 117, 0.1);
}

.empty-table-cell {
    text-align: center;
    padding: 20px;
}

.project-description-cell {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}