/* Specific items for admin sick-leave */

.logout-form {
    margin: 0;
}

.btn-logout {
    background: none;
    border: none;
    color: #ff7675;
    cursor: pointer;
    padding: 14px 16px;
    text-align: left;
    width: 100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.25s ease;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-form {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.select-filter {
    padding: 8px;
    margin-left: 5px;
}

.empty-table-cell {
    text-align: center;
    padding: 20px;
}

.comment-cell {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}